<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Google AdMob SKAdNetwork identifiers (official list).
  Source: https://developers.google.com/admob/ios/quick-start
-->
<plist version="1.0">
<array>
	<string>cstr6suwn9.skadnetwork</string>
	<string>4fzdc2evr5.skadnetwork</string>
	<string>2fnua5tdw4.skadnetwork</string>
	<string>ydx93a7ass.skadnetwork</string>
	<string>p78axxw29g.skadnetwork</string>
	<string>v72qych5uu.skadnetwork</string>
	<string>ludvb6z3bs.skadnetwork</string>
	<string>cp8zw746q7.skadnetwork</string>
	<string>3sh42y64q3.skadnetwork</string>
	<string>c6k4g5qg8m.skadnetwork</string>
	<string>s39g8k73mm.skadnetwork</string>
	<string>wg4vff78zm.skadnetwork</string>
	<string>3qy4746246.skadnetwork</string>
	<string>f38h382jlk.skadnetwork</string>
	<string>hs6bdukanm.skadnetwork</string>
	<string>mlmmfzh3r3.skadnetwork</string>
	<string>v4nxqhlyqp.skadnetwork</string>
	<string>wzmmz9fp6w.skadnetwork</string>
	<string>su67r6k2v3.skadnetwork</string>
	<string>yclnxrl5pm.skadnetwork</string>
	<string>t38b2kh725.skadnetwork</string>
	<string>7ug5zh24hu.skadnetwork</string>
	<string>gta9lk7p23.skadnetwork</string>
	<string>vutu7akeur.skadnetwork</string>
	<string>y5ghdn5j9k.skadnetwork</string>
	<string>v9wttpbfk9.skadnetwork</string>
	<string>n38lu8286q.skadnetwork</string>
	<string>47vhws6wlr.skadnetwork</string>
	<string>kbd757ywx3.skadnetwork</string>
	<string>9t245vhmpl.skadnetwork</string>
	<string>a2p9lx4jpn.skadnetwork</string>
	<string>22mmun2rn5.skadnetwork</string>
	<string>44jx6755aq.skadnetwork</string>
	<string>k674qkevps.skadnetwork</string>
	<string>4468km3ulz.skadnetwork</string>
	<string>2u9pt9hc89.skadnetwork</string>
	<string>8s468mfl3y.skadnetwork</string>
	<string>klf5c3l5u5.skadnetwork</string>
	<string>ppxm28t8ap.skadnetwork</string>
	<string>kbmxgpxpgc.skadnetwork</string>
	<string>uw77j35x4d.skadnetwork</string>
	<string>578prtvx9j.skadnetwork</string>
	<string>4dzt52r2t5.skadnetwork</string>
	<string>tl55sbb4fm.skadnetwork</string>
	<string>c3frkrj4fj.skadnetwork</string>
	<string>e5fvkxwrpn.skadnetwork</string>
	<string>8c4e2ghe7u.skadnetwork</string>
	<string>3rd42ekr43.skadnetwork</string>
	<string>97r2b46745.skadnetwork</string>
	<string>3qcr597p9d.skadnetwork</string>
</array>
</plist>
